@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.id-placeholder:after {
		content: 'Isi Catatan';
		color: grey;
	}
	.en-placeholder:after {
		content: 'Note Content';
		color: grey;
	}
	input::placeholder {
		color: grey;
	}
}

@layer base {
	[data-theme='light'] {
		background-color: #efefef;
		color: #333333;
		transition: all 0.2s ease-out;
	}

	.dark {
		background-color: #1d232a;
		color: #fdfeff;
	}

	.dark-dropdown::before,
	.dropdown::before {
		content: '';
		position: absolute;
		top: -5px;
		right: 0;
		border-left: 15px solid transparent;
		border-bottom: 10px solid #00ac6f;
		z-index: 0;
	}

	.dark-dropdown::before {
		border-bottom: 10px solid #2c343e;
	}

	.my-node-enter {
		opacity: 0;
	}

	.my-node-enter-active {
		opacity: 1;
		transition: opacity 500ms;
	}

	.my-node-exit {
		opacity: 1;
	}

	.my-node-exit-active {
		opacity: 0;
		transition: opacity 500ms;
	}
}
